@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wdth,wght,ROND@6..144,110.7,1..1000,19&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.title-font {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
}

* {
  font-family: "Google Sans Flex", sans-serif;
  font-weight: 300;
  font-variation-settings:
    "wdth" 100,
    "ROND" 50;
}